  <footer>
    <p>&copy; 2025 Profesor David García</p>
    <div class="social-icons">
      <a href="https://www.youtube.com/@davidestuardogt" target="_blank"><img src="assets/icon-youtube.svg" alt="Youtube"></a>
      <a href="https://github.com/davidestuardogt" target="_blank"><img src="assets/icon-github.svg" alt="GitHub"></a>
      <a href="https://www.linkedin.com/in/profesordavidgarcia" target="_blank"><img src="assets/icon-linkendin.svg" alt="LinkedIn"></a>
      <a href="https://www.tiktok.com/@davidestuardo.gt" target="_blank"><img src="assets/icon-tiktok.svg" alt="GitHub"></a>
    </div>
  </footer>