  <header>
    <nav class="navbar">
      <div class="logo">Profesor David García</div>

      <!-- Botón hamburguesa -->
  <button class="menu-toggle" aria-label="Abrir menú">
    &#9776; <!-- este es el ícono de las tres líneas -->
  </button>

    <!-- Las opciones del menú -->
      <ul class="nav-links" id="nav-links">
        <button class="close-menu" aria-label="Cerrar menú">&times;</button>
        <li><a href="index.html">Sobre mí</a></li>
        <li><a href="pages/proyects.html">Proyectos</a></li>
        <li><a href="pages/certified.html">Certificaciones</a></li>
        <li><a href="pages/students.html">Estudiantes</a></li>
        <li><a href="pages/multimedia.html">Multimedia</a></li>
        <li><a href="pages/contact.html">Contacto</a></li>
      </ul>
    </nav>
  </header>